# Pastas de compilação e pacotes
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/

# Arquivos de configuração sensíveis ou de ambiente local (Segurança)
**/appsettings.*.json
**/.env
**/secrets.json
appsettings.*.json

# Git e Docker
.git/
.gitignore
.dockerignore
docker-compose*
**/Dockerfile*
compose.yaml

# Logs e arquivos temporários
*.log
**/TestResults/
/cotacoes/*.TXT
